# Mẫu tệp cấu hình biến môi trường (Copy file này thành .env trên máy chủ)

GW_INTERFACE=ens4

# Cấu hình Telegram Alert
TG_BOT_TOKEN=
TG_CHAT_ID=

# Cấu hình Google Cloud Storage
GCS_BUCKET_NAME=
GCS_LOG_PREFIX=ddos-logs/
GCS_FLUSH_INTERVAL=300
