__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

*.csv
*.parquet
*.dat
*.pcap
data/CICDDoS2019/*
!data/CICDDoS2019/.gitkeep

*.pkl
models/*
!models/.gitkeep

*.json
.env
*.pem
*.key
secret_*.txt

.vscode/
.idea/
.DS_Store
Thumbs.db